<h1>Restaurants</h1>

<p><%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-primary" %></p>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant), class: "btn btn-link p-0" %>
      - <%= restaurant.category %>
    </li>
  <% end %>
</ul>
